<% if resource.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(resource.errors.count, "error") %> found</p>
      </div>

      <div class="message-body">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>