<% content_for :title do %>
  Categories
<% end %>

<div class="columns is-centered mt-3">
    <div class="column is-half">
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Title</th>
              <th class="has-text-centered" colspan="2">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.title %></td>
                <td class="has-text-centered"><%= link_to 'Edit', edit_category_path(category) %></td>
                <td class="has-text-centered"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
</div>